*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .card_link{
    text-decoration: none;
  }
  .explore_head{
    font-weight: bold;
  }
  .card_box{
    padding: 18px;
    box-shadow: 0 0 25px rgb(0 0 0 / 17%);
  }
 
  .card_buttom{
    border: none;
  }
  .bid_icon{
   float: right;
  }