*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .header_hottestbid{
    padding: 80px 15px;
  }
  .bid_heading{
    font-weight: 600;
  }