*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .discover_box{
    padding: 30px 25px;
  }
  .discover_head_col{
    border-bottom: 1px solid rgb(221, 220, 220);
  }
  .discover_heading{
    font-weight: 600;
  }
  .discover_text{
    color: rgb(117, 117, 117);
  }
  .go_home_link{
    text-decoration: none;
    color: rgb(117, 117, 117);
  }

  

  .category_col{
    padding: 20px 50px;
  }
  .search_input{
    width: 251px;
    height: 46px;
    padding: 15px;
    border: 1px solid #dddddd;
    border-radius: 5px;
  }

  /*---------Filter Price---------*/

  .price_value{
    margin-left: 60px;
  }

  /*--------------------Grid & List view-----------------------*/

  .grids_box{
    display: flex;
  }
  .grid_btn{
    width: 45px;
    height: 40px;
    background-color: #fff;
    border: 1px solid gray;
    margin-top: 10px;
  }
  .grid_left{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .grid_right{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .select_box{
    margin-left: auto;
  }
  
