*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  .collection_box{
    padding-bottom: 180px;
  }
  .col_image{
    width: 150px;
    height: 95px;

  }
  .col_image img{
    width: 100%;
    height: 100%;
  }

  .collection_content{
    width: 315px;
    height: 100px;
    display: flex;
    border-radius: 5px;
    border-bottom: 2px solid rgb(165, 0, 165);
  }
  .collection_text{
    padding: 38px;
  }
  .name_link{
    text-decoration: none;
  }
.box_name{
  font-size: 20px;
}
.items_length{
  padding: 15px;
  padding-top: 42px;
}
.length_box{
  padding: 7px 20px;
  background-color: black;
  border-radius: 5px;
  border: 1px solid #fff;
}